body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.scene-background {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 600px;
    color: antiquewhite;
    text-align: center;
    margin-left: 65rem;
    font-size: 25px;
}

.story {
    margin-bottom: 20px;
}

.scene-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.options button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #444;
    color: antiquewhite;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.options button:hover {
    background-color: #555;
}






